body
{
    background-color: rgb(245, 245, 245);
}
.calculator
{
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin:auto;
    padding: 10px;
    margin-top: 75px;
    background-color: rgb(50, 50, 50);
}

#result 
{
    width: 100%;
    font-size: 45px;
    padding: 0 8px;
    margin-bottom: 10px;
    background-color:rgb(50, 50, 50);
    border: none;
    text-align: right;
}

#expressions
{
    width: 100%;
    font-size: 18px;
    padding: 0 8px;
    margin-bottom: 20px;
    border: none;
    background-color:rgb(50, 50, 50);
    text-align: right;
}

.type[text]
{
    color: white;
}
.buttons
{
    display: flex;
    flex-wrap: wrap;
}

button:last-child
{
    color: orangered;
}
button
{
    width: 23%;
    height: 50px;
    font-size: 24px;
    background-color: #202020;
    border: 1px solid #202020;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
    color: white;

}


button:hover {
background-color: #a0a0a0;

}